[submodule "latex-tools"]
	path = latex-tools
	url = git@github.com:valandil/latex-tools.git
[submodule "inrsthesis"]
	path = inrsthesis
	url = git@github.com:valandil/inrsthesis.git

[submodule "python-tools"]
	path = python-tools
	url = git@github.com:valandil/python-tools.git
